<h2>Gemüse</h2>
<div class="row">
  <div class="col-sm-6" *ngFor="let product of products">
    <div
      class="card mb-2"
      [ngClass]="{ highlight: isClicked(product.id) }"
      (click)="setClicked(product.id)"
    >
      <div class="card-body">
        <h5 class="card-title" [ngClass]="{ highlight: isClicked(product.id) }">
          {{ product.name }}
        </h5>
        <p class="card-text">{{ product.description }}</p>
      </div>
    </div>
  </div>
</div>

<h2>Gewicht</h2>
<div class="container-md">
  <div class="row bg-light border border-secondary rounded rounded-3 p-2 mb-1">
    <div class="col-6">
      <b>gemessenes Gewicht </b>
    </div>
    <div class="col-4 text-right">{{ weight }}g</div>
    <div class="col-2">
      <a class="btn btn-primary" (click)="callScaleApi()">&#9654;</a>
    </div>
  </div>
</div>

<h2>Kisten</h2>

<div class="container-md">
  <div
    *ngFor="let box of boxes"
    class="row bg-light rounded rounded-3 p-2 mb-1"
  >
    <div class="col-6">
      <b>{{ box.name }}</b>
      <p>{{ box.description }}</p>
    </div>
    <div class="col-2">
      <button type="button" (click)="subtract(box)">-</button>
    </div>
    <div class="col-3">
      <input type="number" [attr.value]="box.count" class="form-control" />
    </div>
    <div class="col-1 pr-1">
      <button type="button" (click)="add(box)">+</button>
    </div>
  </div>
  <!--<div class="row">
    <div class="col-12 text-right"><a (click)="reset_count()">reset</a></div>
  </div>-->
</div>
<!--<div>
  <h2>Kisten-Gewichte</h2>
  <div class="bg-light rounded rounded-3">
    <ul>
      <li *ngFor="let box of boxes">
        {{ box.count }} x {{ box.name }} je {{ box.weight }}g =
        {{ box.weight * box.count }}g
      </li>
    </ul>
  </div>
</div>-->
<div *ngIf="clickedProudctId > 0">
  <h2>Summe</h2>
  <!--<p>gemsesenes Gewicht - Summe der eingetragenen Kistengewichte</p>-->
  <div class="bg-secondary text-light rounded rounded-3 p-2 mb-1">
    {{ get_measured_weight() }}g Gesamtgewicht - {{ calc_weight_sum() }}g Kisten
    = {{ get_measured_weight() - calc_weight_sum() }}g
    {{ products[clickedProudctId - 1].name }} {{ clickedProudctId }}
  </div>
  <div class="text-center">
    <a class="btn btn-primary me-1 col-5" (click)="saveSelection()">Weiter</a>
    <!--<a class="btn btn-primary col-5" (click)="downloadFile()">Fertig</a>-->
  </div>
</div>

<div class="container-md" *ngIf="results?.length">
  <h2>Liste</h2>
  <div
    *ngFor="let result of results"
    class="row bg-light rounded rounded-3 p-2 mb-1"
  >
    {{ result.name }} - {{ result.weight }}g
  </div>
  <div *ngIf="!results?.length">leer</div>
  <div class="text-center">
    <a class="btn btn-primary col-5" (click)="downloadFile()">Fertig</a>
  </div>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
