<h2>Kisten</h2>

<div class="container-md">
  <div class="row bg-light border border-secondary rounded rounded-3 p-2 mb-1">
    <div class="col-6">
      <b>gemessenes Gewicht </b>
    </div>
    <div class="col-4 text-right">{{ measured_weight() }}g</div>
  </div>
  <div
    *ngFor="let product of products"
    class="row bg-light rounded rounded-3 p-2 mb-1"
  >
    <div class="col-6">
      <b>{{ product.name }}</b>
      <p>{{ product.description }}</p>
    </div>
    <div class="col-2">
      <button type="button" (click)="subtract(product)">-</button>
    </div>
    <div class="col-3">
      <input type="number" [attr.value]="product.count" class="form-control" />
    </div>
    <div class="col-1 pr-1">
      <button type="button" (click)="add(product)">+</button>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-right"><a (click)="reset_count()">reset</a></div>
  </div>
</div>
<div>
  <h2>Kisten-Gewichte</h2>
  <div class="bg-light rounded rounded-3">
    <ul>
      <li *ngFor="let product of products">
        {{ product.count }} x {{ product.name }} je {{ product.weight }}g =
        {{ product.weight * product.count }}g
      </li>
    </ul>
  </div>
</div>
<div>
  <h2>Ergebnis</h2>
  <p>gemsesenes Gewicht - Summe der eingetragenen Kistengewichte</p>
  <div class="bg-secondary text-light rounded rounded-3 p-2">
    <!--{{ measured_weight() }}g - {{ calc_weight_sum() }}g = <br />-->
    {{ measured_weight() - calc_weight_sum() }}g
  </div>
  <a class="button fancy-button" (click)="downloadFile(products)">
    <i class="material-icons">done_outline</i>Download
  </a>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
